<div class="container col-sm-3">

  <h1 class="d-flex justify-content-center">Register</h1>

  <form (ngSubmit)="onSubmit(form.value)" #form="ngForm" [formGroup]="formRegister" >
    <div class="form-group">
      <label for="exampleInputName">Name</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputName"
        aria-describedby="emailHelp"
        placeholder="Name"
        formControlName="name"
      >
      <small id="emailHelp" class="form-text text-muted alert alert-danger" *ngIf="formRegister.hasError('required', ['name']) && formRegister.get('name').touched">Errors Name</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
      <small id="emailHelp" class="form-text text-muted alert alert-danger" *ngIf="formRegister.hasError('required', ['email']) && formRegister.get('email').touched">Errors Email</small>
    </div>
    <div class="form-group" formGroupName="pw">
      <div class="mb-3">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
        <small id="emailHelp" class="form-text text-muted alert alert-danger" *ngIf="formRegister.hasError('required', ['pw', 'password']) && formRegister.get('pw.password').touched">Errors Password</small>
      </div>
      <div>
        <label for="exampleInputPassword2">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" formControlName="confirmPassword">
        <small id="emailHelp" class="form-text text-muted alert alert-danger" *ngIf="formRegister.hasError('required', ['pw', 'confirmPassword']) && formRegister.get('pw.confirmPassword').touched">Errors Confirm Password</small>
      </div>
      <small id="emailHelp" class="form-text text-muted alert alert-danger" *ngIf="formRegister.hasError('passwordNotMatch', ['pw']) && formRegister.get('pw').touched">Error Password Not Match</small>
    </div>
    <div class="d-flex justify-content-between">
      <button
        class="btn btn-primary"
        (click)="goLogin()"
      >Login</button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="formRegister.invalid"
      >Register</button>
    </div>
  </form>
</div>

<!-- <p>form value: {{ formRegister }}</p> -->

<!-- <p>form value: {{ formRegister.controls.name?.errors | json }}</p> -->